.contact {
    height: 100%;
    position: relative;
    background-color: black;
    color: white;
    padding: 50px;
}

.contact-wrapper {
    padding: 0 50px;
}

.contact-left {
    padding: 30px 60px;
}

.contact-title {
    font-size: 60px;
    border-bottom: 5px solid rgb(116, 236, 116);
}

.contact-buttons {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.contact-info-item a {
    list-style: none;
    text-decoration: none;
    margin: 0 50px;
}

.contact-photo {
    width: 50px;
}

.contact-description {
    padding-top: 20px;
    font-weight: 200;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

input {
    width: 60%;
    height: 50px;
    border: none;
    margin: 20px 0px;
    font-size: 16px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    margin: 20px 0px;
    font-size: 16px;
    padding-left: 10px;
}

button {
    width: 140px;
    border: none;
    padding: 20px;
    background-color: rgb(91, 228, 182);
    color: black;
    font-weight: 500;
    cursor: pointer;
    margin: 20px 0px;
}

button:hover {
    background-color: rgb(116, 236, 116);
    color: black;
}

@media screen and (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
        padding: 0px 10px;
    }

    .contact-left {
        padding: 25px;
    }

    .contact-title {
        font-size: 30px;
    }

    .contact-info-item {
        margin: 10px 0px;

    }

    .contact-description {
        font-size: 14px;
    }

    form {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    input {
        width: 70%;
        height: 30px;
        margin: 10px;
        margin-left: 0px;
    }

    button {
        margin-top: 10px;
        padding: 10px;
    }

    .contact-buttons {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
    }
    
    .contact-info-item a {
        list-style: none;
        text-decoration: none;
        margin: 0 10px;
    }
    
    .contact-photo {
        width: 40px;
    }
}