.intro {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.intro-text-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro {
    font-size: 30px;
    font-weight: 300;
}

.intro-name {
    font-size: 60px;
}

.intro-title {
    height: 50px;
    overflow: hidden;
}

.intro-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: orangered;
    display: flex;
    align-items: center;
}

.intro-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    33%{
        transform: translateY(-50px);
    }
    66%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-150px);
    }
}