.intro {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-color: black;
    color: white;
    padding-bottom: 250px;
}

.intro-text-wrapper {
    padding: 150px 0px;
    height: 50%;
    display: flex;
    flex-direction: column;
    width: 600px;
}

.intro-text {
    font-size: 40px;
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 10px;
}

.intro-text-small {
    font-size: 22px;
    font-weight: 200;
    padding-top: 50px;
}

.intro-name {
    font-size: 80px;
}

.intro-title {
    height: 50px;
    overflow: hidden;
}

.intro-item {
    height: 50px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(63, 180, 141);
    display: flex;
    align-items: center;
}

.intro-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    35%{
        transform: translateY(-50px);
    }
    68%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-150px);
    }
}

@media screen and (max-width: 768px) {
    .intro {
        flex-direction: column;
        padding-top: 50px;
        height: 100vh;
    }

    .intro-name {
        font-size: 60px;
    }
    
    .intro-text {
        font-size: 30px;
    }

    .intro-item {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .intro-text-wrapper {
        padding: 10px;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;
    }
}