.App {
  margin: 0;
  padding: 0;
}

.header-nav {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}

.resume {
  text-decoration: none;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding: 8px;
  color: white;
}
